
<div class="ui raised very padded text container segment">
  <%= form_for(@user, html: { class: "ui form", role: "form" }) do |form| %>
        <%= render 'shared/errors', obj: @user %>
    <div class="field">
      <%= form.label :email, "Email" %>
      <div class="ui left icon input">
        <%= form.email_field :email, placeholder: "Email" %>
        <i class="envelope icon"></i>
      </div>
    </div>
    <div class="field">
      <%= form.label :username, "Username" %>
      <div class="ui left icon input">
        <%= form.text_field :username, placeholder: "Username" %>
        <i class="user icon"></i>
      </div>
    </div>
    <% unless @user.persisted? %>
      <div class="field">
        <%= form.label :password, "Password" %>
        <div class="ui left icon input">
          <%= form.password_field :password, placeholder: "Password" %>
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <%= form.label :password_confirmation, "Password Confirmation" %>
        <div class="ui left icon input">
          <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
          <i class="lock icon"></i>
        </div>
      </div>
    <% end %>
    <% if current_user %>
    <div class="field">
      <%= form.label :file, "File" %>
      <div class="ui left icon input">
        <%= form.file_field :file, placeholder: "Upload your photo" %>
        <i class="file icon"></i>
      </div>
    </div>
    <% end %>
    <%= form.submit @user.persisted? ? "Update account" : "Sign up", class: "ui orange submit button" %>
  <% end %>
</div>
