<div class="ui raised very padded text container segment">
  <%= form_for(@category, html: { class: "ui form", role: "form" }) do |form| %>
    <div class="field">
    <%= render 'shared/errors', obj: @category %>
      <%= form.label :name, "Category name" %>
      <div class="ui left icon input">
        <%= form.text_field :name, placeholder: "Category name" %>
        <i class="tag icon"></i>
      </div>
    </div>
     <div class="field">
         <%= form.label :description, "Description" %>
        <div class="ui left icon input">
          <%= form.text_area :description, placeholder: "Description" %>
          <%# <i class="file alternate icon"></i> %>
        </div>
      </div>
    <%= form.submit @category.id.present? ? "Update" : "Save", class: "ui orange submit button" %>
  <% end %>
</div>
